@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
   li{
      @apply px-20;
      @apply cursor-pointer
      
   }

   
  }


  #StarterPage{ background-image: url('./assets/portfolio.png');
   background-size: cover;
   background-position: top center;
   ;


  }

  #contentId{
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-size: 250px;


  }
  

